.container{
display: flex;
justify-content: center; /* Horizontal */
align-items: center; /* Vertical */
height: 100vh; /* Opcional: Altura total da tela */
margin-top: 12px;

}

.Teste{
background-color: black;
color: rgb(217, 224, 224);
}

.cont{
display: flex;
justify-content: center; /* Horizontal */
align-items: center; /* Vertical */

    
}
.cont a{
font-size: 25px;
text-decoration: none;
padding: 25px;
}
a{
    font-family: cursive;
}